<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>newMenu</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/newMenu_alpha.css">
</head>
<body>
<div style="height:300px;"></div>
<div class="menu-wrap clearfix" style="height: 35px;">
    <a class="icon icon-arrow-left menu-btn menu-btn-left" href="javascript:void(0);" style="display: block;">;l</a>
    <a class="icon icon-arrow-right menu-btn menu-btn-right" href="javascript:void(0);" style="display: block;">r</a>
    <div id="menu" class="menu" style="">
        <ul class="menu-primary clearfix" style="width: 789px;">
            <li class="menu-primary-item"><a class="menu-primary-item-a" href="javascript:void(0);" id="014" data-index="0">任务台</a></li>
            <li class="menu-primary-item">
                <a class="menu-primary-item-a" href="javascript:void(0);" id="028" data-index="1">2016年干部竞聘</a>
            </li>
            <li class="menu-primary-item">
                <a class="menu-primary-item-a" href="javascript:void(0);" id="030" data-index="2">新版月报</a>
            </li>
            <li class="menu-primary-item">
                <a class="menu-primary-item-a" href="javascript:void(0);" id="023" data-index="3">工作日志</a>
            </li>
            <li class="menu-primary-item">
                <a class="menu-primary-item-a" href="javascript:void(0);" id="001" data-index="4">项目管理</a>
            </li>
            <li class="menu-primary-item">
                <a class="menu-primary-item-a" href="javascript:void(0);" id="019" data-index="5">知识库</a>
            </li>
            <li class="menu-primary-item">
                <a class="menu-primary-item-a" href="javascript:void(0);" id="022" data-index="6">信息管理</a>
            </li>
            <li class="menu-primary-item">
                <a class="menu-primary-item-a" href="javascript:void(0);" id="024" data-index="7">运维管理</a>
            </li>
        </ul>
    </div>
    <div class="menu-second-box" style="display: none;">
        <ul class="menu-second" data-index="0" style="display: none; width: 80px; height: 108px;">
            <li class="menu-second-item clearfix">
                <a class="menu-second-item-a  end-nav-item-a" href="javascript:void(0);" id="0026" data-url="workflow/jquery/userTaskPlatform.jsp" style="width: 57px; height: 97px;">任务台</a>
            </li>
        </ul>
        <ul class="menu-second" data-index="1" style="display: none; width: 143px; height: 108px;">
            <li class="menu-second-item clearfix">
                <a class="menu-second-item-a  end-nav-item-a" href="javascript:void(0);" id="0123" data-url="CadersCompete/webViews/MyCadersCompeting/selfCenter.jsp" style="width: 120px; height: 97px;">我的干部竞聘</a>
            </li>
        </ul>
        <ul class="menu-second" data-index="2" style="display: none; width: 121px; height: 108px;">
            <li class="menu-second-item clearfix">
                <a class="menu-second-item-a  end-nav-item-a" href="javascript:void(0);" id="0132" data-url="monthlyReport/webViews/MonthlyFillReport.jsp" style="width: 98px; height: 97px;">月度总结与计划</a>
            </li>
        </ul>
        <ul class="menu-second" data-index="3" style="display: none; width: 165px; height: 108px;">
            <li class="menu-second-item clearfix">
                <a class="menu-second-item-a  end-nav-item-a" href="javascript:void(0);" id="975" data-url="logManage/webViews/gzLogTj/gzLogTj.jsp" style="width: 142px; height: 30px;">工作日志统计</a>
            </li>
            <li class="menu-second-item clearfix">
                <a class="menu-second-item-a  end-nav-item-a" href="javascript:void(0);" id="0140" data-url="logManage/webViews/CalendarOfLog/CalendarLog.jsp" style="width: 142px; height: 30px;">我的日志（New）</a>
            </li>
            <li class="menu-second-item clearfix">
                <a class="menu-second-item-a  end-nav-item-a" href="javascript:void(0);" id="0101" data-url="logManage/webViews/logCxTj/logCxTj.jsp" style="width: 142px; height: 35px;">日志查询统计（New）</a>
            </li>
        </ul>
        <ul class="menu-second" data-index="4" style="display: none; width: 558px; height: 108px;">
            <li class="menu-second-item clearfix">
                <a class="menu-second-item-a" href="javascript:void(0);" id="008" style="width: 71px; height: 97px;">查询与分析</a>
                <ul class="menu-third" style="width: 450px;">
                    <li class="menu-third-item">
                        <a class="menu-third-item-a" href="javascript:void(0);" id="0103" data-url="projectManage/webViews/xmquery/projectQuery.jsp" title="项目台账查询">项目台账查询</a>
                    </li>
                    <li class="menu-third-item">
                        <a class="menu-third-item-a" href="javascript:void(0);" id="0104" data-url="projectManage/webViews/xmjdcx/xmjdcx.jsp" title="项目阶段查询">项目阶段查询</a>
                    </li>
                    <li class="menu-third-item">
                        <a class="menu-third-item-a" href="javascript:void(0);" id="0108" data-url="projectManage/webViews/xmfx/projectAnalysis.jsp" title="项目分析">项目分析</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="menu-second" data-index="5" style="display: none; width: 121px; height: 108px;">
            <li class="menu-second-item clearfix">
                <a class="menu-second-item-a  end-nav-item-a" href="javascript:void(0);" id="0068" data-url="repository/webViews/category.jsp" style="width: 98px; height: 30px;">知识库分类浏览</a>
            </li>
            <li class="menu-second-item clearfix">
                <a class="menu-second-item-a  end-nav-item-a" href="javascript:void(0);" id="0070" data-url="repository/webViews/overalview.jsp" style="width: 98px; height: 66px;">知识库整体浏览</a>
            </li>
        </ul>
        <ul class="menu-second" data-index="6" style="display: none; width: 94px; height: 108px;">
            <li class="menu-second-item clearfix">
                <a class="menu-second-item-a  end-nav-item-a" href="javascript:void(0);" id="0999" data-url="infoManage/webViews/xxwh/xxwh.jsp" style="width: 71px; height: 30px;">信息维护</a>
            </li>
            <li class="menu-second-item clearfix">
                <a class="menu-second-item-a  end-nav-item-a" href="javascript:void(0);" id="0110" data-url="infoManage/webViews/xxcx/xxcx.jsp" style="width: 71px; height: 66px;">信息查询</a>
            </li>
        </ul>
        <ul class="menu-second" data-index="7" style="display: none; width: 283px; height: 108px;">
            <li class="menu-second-item clearfix">
                <a class="menu-second-item-a" href="javascript:void(0);" id="011" style="width: 96px; height: 30px;">系统公告</a>
                <ul class="menu-third" style="width: 150px;">
                    <li class="menu-third-item">
                        <a class="menu-third-item-a" href="javascript:void(0);" id="0094" data-url="assist/webViews/notice/notice.html?readonly=true" title="系统公告">系统公告</a>
                    </li>
                </ul>
            </li>
            <li class="menu-second-item clearfix">
                <a class="menu-second-item-a" href="javascript:void(0);" id="010" style="width: 96px; height: 30px;">通用查询</a>
                <ul class="menu-third" style="width: 150px;">
                    <li class="menu-third-item">
                        <a class="menu-third-item-a" href="javascript:void(0);" id="0025" data-url="logManage/webViews/zzjg/zzjgjrycx.jsp" title="组织机构及人员查询">组织机构及人员查询</a>
                    </li>
                </ul>
            </li>
            <li class="menu-second-item clearfix">
                <a class="menu-second-item-a  end-nav-item-a" href="javascript:void(0);" id="0084" data-url="rcwh/webViews/BugAndXq.jsp" style="width: 96px; height: 35px;">Bug及需求管理</a>
                <ul class="menu-third" style="width: 150px;">

                </ul>
            </li>
        </ul>
    </div>
</div>
</body>
</html>